body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px
}
.mango{
    color: orange;
}
.hamba{
    display: flex;
    margin-bottom: 100px;
}
.khamba{
    width: 50%;
    padding-left: 3%;
    padding-top: 1%;
    padding-right: 2%;
}
.khamba img{
    width: 80%;
}
.chesra{
    text-decoration: none;
    background-image: linear-gradient(rgb(255, 196, 0),tomato);
    color: white;
    font-weight: 750;
    padding: 10px 40px;
}
.top-class{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image:url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.lomba{
    box-shadow: gray 10px 10px 50px;
    width: 40%;
    margin-right: 6%;
    margin-left: 6%;
    padding-left: 12px;
    border-radius: 10px;
}
.experince-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#web-dev-loper{
    border-left: 7px solid;
    border-image:linear-gradient(blue,cyan );
    border-image-slice: 1;
}
#full-stack-developer{
    border-left: 7px solid;
    border-image:linear-gradient(salmon,tomato);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}